@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap");
.header__top {
  background: #141414;
  border: 1px solid #000000;
  box-shadow: 0px 4px 20px rgba(169, 169, 169, 0.18);
}
.header__middle {
  background-color: #ECF1F2;
}
.header__bottom {
  background-color: #141414;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}
.nav__list {
  display: flex;
}
.nav__list li:not(:first-child) {
  margin-left: 60px;
}
.nav__list li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
@media (any-hover: hover) {
  .nav__list li a:hover {
    text-decoration: underline;
  }
}
.nav__list li {
  padding: 25px 0;
}
.nav__personal {
  display: flex;
  vertical-align: middle;
  align-items: center;
}
.nav__icon {
  margin-right: 15px;
}
.nav__link a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
@media (any-hover: hover) {
  .nav__link a:hover {
    text-decoration: underline;
  }
}

.header__items {
  display: flex;
  justify-content: space-between;
}

.items._container {
  padding: 24px 15px;
}
.items__search {
  display: flex;
  align-items: center;
}
.items__location {
  display: flex;
  justify-content: space-between;
}

.search__form {
  position: relative;
  margin-left: 157px;
}
.search__form a {
  position: absolute;
  top: 11px;
  left: 24px;
}
.search__form input {
  width: 377px;
  height: 41px;
  border: 1px solid rgba(4, 4, 4, 0.5);
  border-radius: 3px;
}
.search__form input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 43px;
  font-family: "Montserrat";
}

.location__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.location__basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts__loc {
  display: flex;
  align-items: center;
}
.contacts__loc a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.contacts__loc a span {
  margin-left: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
@media (any-hover: hover) {
  .contacts__loc a span:hover {
    text-decoration: underline;
  }
}
.contacts__number {
  margin-left: 55px;
}

.number__phone {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.number__phone a {
  margin-left: 10px;
}
.number__text {
  margin-top: 3px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #E8AA31;
}
.number__text a {
  text-decoration: none;
  color: #E8AA31;
}
@media (any-hover: hover) {
  .number__text a:hover {
    text-decoration: underline;
  }
}

.basket {
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basket__svg {
  display: flex;
  align-items: center;
  position: relative;
}
.basket__svg a:nth-child(2) {
  margin-left: 30px;
}
.basket__amount {
  position: absolute;
  top: -2px;
  right: -4px;
  font-size: 8px;
  line-height: 15px;
  color: #FFFFFF;
  width: 14px;
  height: 15px;
  background: #E8AA31;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
}
.basket__order {
  margin-left: 15px;
  font-size: 16px;
  line-height: 20px;
}
.basket__text a {
  color: #E8AA31;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}
@media (any-hover: hover) {
  .basket__text a:hover {
    text-decoration: underline;
  }
}

.nav-bottom {
  color: #FFFFFF;
}
.nav-bottom__list {
  display: flex;
  padding: 24px 0;
  justify-content: space-between;
}

body {
  height: 100%;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  overflow-x: scroll;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  width: 1570px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}