.header {

   &__top {
      background: #141414;
      border: 1px solid #000000;
      box-shadow: 0px 4px 20px rgba(169, 169, 169, 0.18);
   }
   &__middle{
      background-color: #ECF1F2;
   }

}
.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   vertical-align: middle;
   &__list {
      display: flex;
      & li:not(:first-child){
         margin-left: 60px;
      }
      & li a{
         text-decoration: none;
         font-size: 16px;
         line-height: 20px;
         color: #FFFFFF;
      }
      & li{
         padding: 25px 0;
      }
   }

   &__personal {
      display: flex;
      vertical-align: middle;
      align-items: center;
   }

   &__icon {
      margin-right: 15px;
   }

   &__link {
      & a{
         text-decoration: none;
         font-weight: 600;
         font-size: 18px;
         line-height: 22px;
         color: #FFFFFF;
      }
   }
}

// ======header__middle
.header {

   &__items {
      display: flex;
      justify-content: space-between;
   }
}
.items {
   
   &._container{
      padding: 24px 15px ;
   }
   &__search {
      display: flex;
      align-items: center;
   }

   &__location {
      display: flex;
      justify-content: space-between;
   }
}

.search {

   &__form {
      position: relative;
      margin-left: 157px;
      & a{
         position: absolute;
         top: 11px;
         left: 24px;
      }
      & input{
         width: 377px;
         height: 41px;
         border: 1px solid rgba(4, 4, 4, 0.5);
         border-radius: 3px;
      }
      & input::placeholder{
         font-weight: 500;
         font-size: 14px;
         line-height: 17px;
         color: rgba(0, 0, 0, 0.5);
         padding-left: 43px;
         font-family: 'Montserrat';
      }
   }
}
.location {

   &__contacts {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__basket {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}
.contacts {

   &__loc {
      display: flex;
      align-items: center;
      & a{
         text-decoration: none;
         display: flex;
         align-items: center;
      }
      & a span{
         margin-left: 10px;
         font-weight: 600;
         font-size: 18px;
         line-height: 22px;
         color: #000000;
      }
   }

   &__number {
      margin-left: 55px;
   }
}
.number {

   &__phone {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      & a{
         margin-left: 10px;
      }
   }

   &__text {
      margin-top: 3px;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #E8AA31;
      & a{
         text-decoration: none;
         color: #E8AA31;
      }
   }
}

.basket {
   margin-left: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   &__svg {
      display: flex;
      align-items: center;
      position: relative;
      & a:nth-child(2){
         margin-left: 30px;
      }
   }

   &__amount {
      position: absolute;
      top: -2px;
      right: -4px;
      font-size: 8px;
      line-height: 15px;
      color: #FFFFFF;
      width: 14px;
      height: 15px;
      background: #E8AA31;
      border-radius: 50%;
      text-align: center;
      text-decoration: none;
   }

   &__order {
      margin-left: 15px;
      font-size: 16px;
      line-height: 20px;
   }
   // &__sum {
   // }
   &__text {
      color: #E8AA31;
   }
}
