// Font-------------------
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap");

body{
   height: 100%;
   font-family:Montserrat;
   font-size: 18px;
   font-weight: 500;
}

.wrapper {
      min-height: 100%;
      overflow: hidden;
}

._container{
   width: 1570px;
   margin: 0 auto;
   padding: 0 15px;
   box-sizing: border-box;
}
